//Base
@import './variables';
@import './reset';
@import './mixins';
//components
@import './header';
@import './weather';

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('https://picsum.photos/1920/1068/?random%27');
    background-size: cover;
    background-position: center;
}